body, html {
    font-family: "Open Sans";
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

p {
	line-height: 2;
}

h1 {
	line-height: 2;
	font-size: 16;
	font-weight: bold;
}

h2 {
	line-height: 2;
	font-weight: bold;
}

li {
	line-height: 2;
}

.wrapper {
    padding: 30px;
}
